# Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
venv/
env/

# Docker-related files
*.log
docker-compose.override.yml

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db